.Message{data: {id: message.id}}
  .Message__upper-info
    %p.Message__upper-info__talker
      = message.user.name
    %p.Message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .Message__text
  - if message.content.present?
    .Message__text__content
      = message.content
  = image_tag message.image.url, class: 'Message__text__image' if message.image.present?