!!!
%html
  %head
    %link{:data__turbolinks__track => "reload", :href => "application.scss", :media => "all", :rel => "stylesheet"}/
    %script{:data__turbolinks__track => "reload", :src => "application.js"}/
    %meta{:http__equiv => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title ChatSpaceSample
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:dontent => "", :name => "csrf-token"}/
  %body
    .Flash-box
      .Wapper
        .Chat-side
          .Side-header
            .Side-header__box
              .Side-header__box__user-name
                kizuki
              .Side-header__box__menu
              =link_to "https://chat-space-sample.herokuapp.com/groups/new", class: "Side-header__box__menu__new-group" do
                = fa_icon 'edit'
              %span<>
              =link_to "https://chat-space-sample.herokuapp.com/users/edit", class: "Side-header__box__menu__edit-user" do
                = fa_icon 'cog'
          .groups
            %a{:href => "https://chat-space-sample.herokuapp.com/groups/messages"}/
            .group
              .group__group-name
                test
              .group__latest-message
                こんにちは！
        .chat-main
          .main-header
            .main-header__left-box
              -# %h2.main-header__left-box__current-group{:deta_group_id => ""}/
              test
              %ul.main-header__left-box__member-list
                member:
                %li.main-header__left-box__member-list__member
                  demizu
                  asai
                  kizuki
                  %a{:herf => "https://chat-space-sample.herokuapp.com/groups/edit"}/
                    .main-header__edit-btn
                     Edit
          .messages
            -# .message{:data_message_id}
            .message__upper-info
              .message__upper-info__talker
                kizuki
              .message__upper-info__date
                2019/06/01/(sat) 00:00:00
            .message__text
              こんにちは！
          .form
            %form.new_message{:method => "post", :accept_charset => "UTF-8", :action => "/groups/messages", :enctype => "multipart/form-data", :id => "new_message"}/
              -# %input{:value => "", :type => "hidden", :name => "utf-8"}/
              %input{:value => "57+ivHR5CGD9TBV5B/uqhOJaCY8gHu/YJuM7XUfQIsL+3ahvfl0Kg2ezFeelPrnp3CjsJuPML2HZS0Vis6fNwA==", :type => "hiden"}/
              .input-box
                %input.input-box__text{:id => "message_content", :name => "message[content]", :type => "text", :placeholder => "type a message"}/
                %label.input-box__image{:for => "message_image"}/
                  .fa-image
                    = fa_icon "photo" 
                  %input.input-box__image__file{:id => "message_image", :name => "message[image]", :type => "file"}/
              %input.submit-btn{:data_disable_with => "Send", :value => "Send", :name => "commit", :type => "submit"}/